# Python Virtual Environment
.venv/

# Datasets
data/

# Local Caches and Generated Indexes
data/.fai_cache/

#Experiment Outputs
experiments/heatmaps/
results/

# Pretrained Models and Checkpoints
models/
*.pkl

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Editor directories and files
.vscode/

#Latex Compiled files
*.pdf
*.synctex.gz
*.aux
*.out
*.log
*.blg
*.bbl
*.idx
*.toc
*.dvi
*.fls
*.fdb_latexmk