# Python Virtual Environment
.venv/

# Datasets
data/

# Local Caches and Generated Indexes
.fai_cache/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Editor directories and files
.vscode/